@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F4F6FA;
  background-image: url("../app/assets/arcMob.png");
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center center;
  background-position-y: 0px;

}
body.dark{
  background-color: #313E51;
  background-image: url("../app/assets/arcMobDark.svg");
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center center;
  background-position-y: 0px;
}